.App {
  text-align: center;
  margin: 50px 0;
}

button {
  padding: 15px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  background-color: var(--supporting-color);
  color: var(--main-text-color);
  cursor: pointer;
  box-shadow: 2px 2px 5px 2px var(--box-shadow);
  transition: background-color 500ms linear;
}

#chang-theme-button {
  position: absolute;
  top: 20px;
  right: 20px;
}
